/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%; 
    margin: 0px auto;    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
[class*="col-"]{
    width: 100%;
}
/* for navbar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;    
    background-color: rgb(85, 98, 112);
}
.nar-left li{
    float: left;       
}
.nar-right li{    
    float: right;        
}   
li a{    
    color: white;
    display: block;
    padding: 15px;    
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}
li a:hover{
    background-color: #333;
    color: greenyellow;
}

/* for banner */
#banner{
    clear: both;
    position: relative;
    width: 100%; 
    overflow: hidden;     
}
#banner .banner_image{
    width: 100%;
    visibility: hidden;
    display: flex;
    padding: 0;
    animation-name: banner-ani;
    animation-duration: 8s;
    animation-iteration-count: infinite;    
}
@keyframes banner-ani {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    } 
    100%{
        transform: scale(1);
    }   
}
#banner .banner_content{
    position: absolute;    
    display: block;
    top: 33%;
    left: 25px;
    transition: 1s;
    transition-delay: 0.3s;
}#banner .banner_content:hover{
    transform: scale(1.2) rotate(360deg) translate(50px,20px);    
}

/* for gallery */
#gallery{        
    height: 580px;
    padding: 25px;        
}
#gallery img{
    padding: 15px 0px;
    width: 90%;  
    transition: 0.5s; 
    transition-delay: 0.5; 
}
#gallery img:hover{
    transform: scale(0.9);
    cursor: pointer;
}
#gallery .gallery-col-1, .gallery-col-2, .gallery-col-3{
    float: left;    
}
hr{
    display: none;    
}
/* for footer */
#footer{
    width: 100%;
    clear: both;    
    height: 25vh;         
}
#footer .footer-col-1, .footer-col-2, .footer-col-3{
    display: block;
    float: left;    
    padding: 25px;
    overflow: hidden;    
}
#footer a{
    padding: none;
    color: royalblue;
    text-decoration: none;
}
#footer a:hover{
    color: chocolate;    
}

  